---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Alberto Cisneros - Full-Stack Web Developer | Modern Web Applications">
  <Navigation />
  
  <main>
    <Hero />
    <Projects />
    <About />
    <Skills />
    <Contact />
  </main>
  
  <Footer />
</Layout>
